.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
}

.animation {
  /* position: absolute;
  top: -10%; 
  left: 25%; 
  transform: scale(0.3) translate(-50%, -50%); */
  transform: scale(0.3) translate(0%, -100%);
}
