.active {
  text-decoration: underline;
  font-weight: bold;
  color: blue;
}

.active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: darkblue;
  border-radius: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.navContainer {
  background-color: sandybrown;
  min-height: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}
